@mixin btn-primary {
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  padding: 12px 35px;
  color: white;
  display: inline-block;
  white-space: nowrap;
  background: var(--skin-color);
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  border: none;
  &:hover {
    transform: scale(1.05);
  }
}

@mixin flex-mid {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn-secondary {
  background-color: var(--skin-color);
  color: white;
  padding: 10px 15px;
  display: flex;
  gap: 10px;
  border: none;
  border-radius: 9999px;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: all ease 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}
